h1{
    text-align: center;
}

/* Card.css */
.box {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition:0.3s ease;
  background-size: contain;
  padding: 40px;
  cursor: pointer;
  margin: 5px;

}
.box:hover{
  scale: 1.1;

}
.men-clothing:hover {
  background-image: url('../../assets//portrait-handsome-smiling-stylish-young-man.jpg'); 
}
.women-clothing:hover {
  background-image: url('../../assets//lady-poses-dressing-room-with-bright-clothes-shoes-girl-beret-lilac-blouse-looking-camera-pink-background.jpg'); 
}
.jewelry:hover {
  background-image: url('../../assets//top-view-gold-chains-still-life.jpg'); 
}
.electronics:hover {
  background-image: url('../../assets//modern-stationary-collection-arrangement.jpg'); 
}
.box:hover h1{
  display: none;
}

.you-may-like{
  text-align: center;
}
.featured-categories{
display: block;
flex-direction: row;
}
.card-category{
  cursor: pointer;
}
.link{
  text-decoration: none;
  color: black;
}