.mega-menus{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mega-menus button{
    margin:10px auto 10px auto;
    cursor: pointer;
    background: transparent;
    border: none;
    border: .6px solid black;
    border-radius: 5px;
    padding: .5rem;
    transition: .1s;
}
.mega-menus button:hover{
    background-color: #656565;
}
.link-btn{
    text-decoration: none;
    color: black;
}