body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  background: transparent;
  outline: none;
  border: none;
  border: 0.6px solid #656565;
  border-radius: 5px;
}

/* Styles for the button */
.button {
  display: inline-block;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  margin: 0 2px;
}

.button:hover {
  background-color: #0056b3; /* Change background color on hover */
}
